@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&family=Outfit:wght@100;400;600;700&family=Passion+One&family=Poppins:ital,wght@0,200;0,700;1,400;1,500&family=Sriracha&family=Work+Sans&display=swap');
* {
    padding:0;
    margin:0;
    font-family: poppins;
}


body{
    background-color:#260261
}

h1{
    text-align: center;
    color:#A26CFA;
    margin: 60px;
    font-size:2.1em;
    border:10px solid #ffff;
}

#txtn{
    color:#260261;
    border:none;
    font-size: 1em;
    font-weight: bold;
    padding: 05px;
    width: 60px;
    text-align: center;
   
}

section{
    background-color: #A26CFA;
    border-radius: 10px;
    box-sizing:border-box;
    padding: 15px;
    margin: 15px 20px;
}

p{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

#tabu-btn{
    display:block;
    padding: 15px;
    margin: 10px auto;
    font-size: 0.8em;
    font-weight: 600;
    border: none;
   
  }

#tabu-btn:hover{
    background-color:#513b73;
    border:#ffffff;
  
}

select{
    display:block;
   box-sizing: border-box;
   margin:auto;
   padding:10px 30px;
   background-color: #ffffff;
   border-radius: 10px;

}

input{
    border-radius: 20px;
   
}

option{
  color:#260261;
  font-size: 1em; 
  font-weight: 600; 
}